<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>scatterflower.online</title>
  </head>
  <body>
    <center>
      <form ref="uploadForm" id="uploadForm" action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="uploaded">
        <input type="submit" value="upload">
        <br>
        <% if (locals.file_link) { %>
        <a href="<%= locals.file_link %>">Uploaded file</a>
        <% } %>
      </form>
    </center>
  </body>
</html>
